* {
  font-family: 'Overpass', sans-serif;
}

body{
  padding-top: 10px;
	background-color: #E8F8F1;
}

main{
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Rubik Mono One', sans-serif;
  padding-bottom: 15px;
  color: darkorange;
}

h4{
  margin-bottom: 0;
  padding-bottom: 0;
}

button {
	max-width: calc( 20% - 5px );
}

div img{
  min-width: 60px;
}

.everything{
	margin-left: 20px;
}

.wi{
  font-size: 5em;
  color: darkorange;
}

.center {
	text-align: center;
}



.form-control {
	margin: 0;
	width: 100%;
	max-width: 100%;
  min-width: 75%;
}

.card-block{

  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
  margin: 10px 0 10px 0;

  padding: 5px;
}

.underline{
  border-bottom: 1px solid black;
}

.leading-image{
  min-width: 40px;
  padding-left: 0px;

}
.leadin

@media (min-width: 770px) {
  .form-control {
    min-width: calc( 75% - 10px );
  }
}
