* {

}

.everything{
	margin-left: 20px;
}

.wi{
  font-size: 5em;
  color: darkorange;
}

div img{
  min-width: 60px;
}

main{
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

body{
  padding-top: 100px;
	background-color: #E8F8F1;
}

.center {
	text-align: center;
}

button {
	max-width: calc( 20% - 5px );
}

.form-control {
	margin: 0;
	width: 100%;
	max-width: 100%;
}

@media (min-width: 600px) {
  .form-control {
    min-width: calc( 75% - 10px );
  }
}

h4{
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-block{

  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
  margin: 10px 0 10px 0;

  padding: 5px;
}

.underline{
  border-bottom: 1px solid black;
}
.float-right{
  
}
